@model HomeViewModel



<partial name="_Carousel" />

<h2>Arts of the week</h2>

<div class="row">

    @foreach (var art in Model.ArtsOfTheWeek)
    {
        <partial name="_ArtCard" model="art" />
    }

</div>

<div id="animation-filter" style="background-color:black; opacity: 1; height:100vh; position:fixed; top:0; left:0; z-index:100001">
    <div id="bm" style="width: 100%;"></div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bodymovin/5.6.5/lottie.min.js"></script>

<script>
    var animation = bodymovin.loadAnimation({
        container: document.getElementById('bm'),
        renderer: 'svg',
        loop: false,
        autoplay: true,
        path: '/content/data.json'
    });
    setTimeout(function () {
        $('#animation-filter').css({ opacity: 0, transition: '.5s' });
        setTimeout(() => { $('#animation-filter').css({ display: 'none' }); }, 500);
    }, 2000);


</script>